// main: ./_utilities.scss


/* ------------------------------------------------------------ */
/* COLOR */
/* ------------------------------------------------------------ */
$color-primary: #F5A623;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

$color-grey: #919191;
//$color-grey-light:
//$color-grey-dark:

$color-dark: #333;


$color-light: #fafafa;

/* ------------------------------------------------------------ */
/* TYPOGRAPHIE */
/* ------------------------------------------------------------ */
$font-primary: 'apercu', sans-serif;
$font-primary-light: 'aperculight';
$font-secondary: 'smallcaps', serif;
