// main: ../_base.scss

html {
    font-size: 100%;
}

body{
    font-family: $font-primary;
    font-size: calc(0.55em + 1vmin);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
}

h1{
    font-size: calc(3em + 1vw);
}

h2{
    font-size: calc(2em + 1vw);
}

h3{
    font-size: calc(1em + 1vw);
}

img {
    max-width: 100%;
}

.center{
    text-align: center;
}