// main: ../_components.scss

.thumbnail{
    img {
        border-radius: .5em;
        //@include box-shadow(0 0 10px rgba(0, 0, 0, .8));
        @include box-shadow(0 .5rem 1rem rgba(0, 0, 0, .15));
    }

    @include responsive(MD){}
    @include responsive(SM){
        max-width: 100%;
        width: auto;
        @include flex;
        @include justify-content(center)
    }
    @include responsive(XS){
        max-width: 100%;
        width: auto;
        @include flex;
        @include justify-content(center)
    }
}

.modal{
    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }
    &-title {
        margin: 0.5rem;
        line-height: 1.5;
        color: $color-primary;
    }
    &-dialog {
        max-width: calc(100vw - 30%);
    }

    @include responsive(MD){
        &-dialog{
            max-width: 90%;
        }
    }
    @include responsive(SM){
        &-dialog{
            max-width: 90%;
        }
    }
    @include responsive(XS){
        &-dialog{
            max-width: 100%;
        }
    }

}