// main: ../_components.scss

.modal{
    &-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }
    &-title {
        margin: 0.5rem;
        line-height: 1.5;
    }
    &-dialog {
        max-width: calc(100vw - 30%);
    }
}