// main: ../_layout.scss

.privacy-policy{
    .default{
        margin: 3rem auto;
        padding: 3rem 0;
    }

    h1, h2, h3{
        line-height: 2;
    }

    p{
        text-align: justify;
    }
}