// main: ../_layout.scss

.dark{
  background: darken($color-night, 3%);
  color: $color-light;

  .solid{
    background: darken($color-night, 3%);
  }

  // footer ------------------------------------
  footer{
    //background: darken($color-night, 3%);
    background: darken($color-dark, 15%);
  }
  .info{
    //background: darken($color-night, 3%);
    background: darken($color-dark, 15%);
  }


  // Switcher ----------------------------------
  .label{
    background: darken($color-dark, 20%);
  }

  // filter / tabs -----------------------------
  .nav-tabs{
    text-shadow: 4px 2px 4px rgba(9,9,9,0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    background: darken($color-night,4%);

    .tab-pane{
      text-shadow: 4px 2px 4px rgba(9, 9, 9, .9);
    }
  }
  .tab-content{
    @include box-shadow(0 0 10px rgba(0, 0, 0, .5));
    background: darken($color-night,4%);
  }

  // Table -------------------------------------
  .wp-block-table{
    table tr{
      border-color: darken($color-grey, 30%);
    }
  }

  // revervation -------------------------------
  .reservation{
    color: $color-primary;
    text-shadow: 4px 2px 4px rgba(9,9,9,0.9);
    p{
      text-shadow: 4px 2px 4px rgba(9, 9, 9, .9);
    }
  }

  // errorpage ---------------------------------
  .error{
    &-code{
      color: lighten($color-dark, 10%);
      text-shadow: 4px 2px 4px rgba(9,9,9,0.9);
    }
    &-desc{
      color:lighten($color-dark, 30%);
    }
  }


  // MODAL --> page event ------------------------
  .thumbnail {
    img {
      border-radius: .5em;
      @include box-shadow(0 1rem 4rem rgba(9, 9, 9, .9));
    }
  }

  .modal{
    &-content{
      background: lighten($color-night, 2%);
    }
    &-header{
      border-color: $color-grey;
    }
    &-title{
      text-shadow: 4px 2px 4px rgba(9, 9, 9, .9);
    }
  }
  .close{
    color: $color-light;
    text-shadow: 4px 2px 4px rgba(9, 9, 9, .9);
  }

  .wp-block-file__button{
    text-shadow: 4px 2px 4px rgba(9, 9, 9, .9);
  }


}


