// main: ../_layout.scss

.body{
  background: $color-light;
  color: $color-dark;
  transition: all 0.2s linear;

  .error-desc{
    color:lighten($color-dark, 10%);
  }
}

.error404{
   .navbar{
     background: $color-dark;
   }
 }


// NAV-TABS [ALL] --------------------------------
.nav-tabs{
    .nav-item{
        @include box-shadow(0 -2px 6px 0 rgba(0, 0, 0, .05));
    }
}

.tab-content{
    border: none;
    background-color: inherit;
    @include box-shadow(0 5px 10px rgba(0, 0, 0, .05));
    border-radius: 0 0 15px 15px;
    padding-bottom: 1rem;
}


// section Buffet -----------------------------
#buffet{
    .nav-tabs{
        height: inherit;
        .nav-item{
            //border: 1px solid #c4c4c4;
            border-radius: 5px;
            @include flex;
            @include justify-content(center);
            @include align-items(center);
        }
    }

    .else-display{
        margin-top: 1.5em;
    }
}