// main: ../_elements.scss

p{
    margin: 0;
}

// TAB-CONTENT --> BUFFET ----------------------------
.big-price{
    font-family: $font-number;
    color: $color-primary;
    font-size: 2rem;
    line-height: 2;
    letter-spacing: 1px;
}

.desc{
    font-family: $font-primary-light;
    font-size: small;
}

.note{
    line-height: initial;
    letter-spacing: 1px;
    font-family: $font-primary-light;
    padding: 1em 0;
}

@include responsive(MD){
    .big-price{
        font-size: x-large !important;
    }
    .desc{
        font-size: calc(100% / 1.5) !important;
    }
}

@include responsive(SM){
    .big-price{
        font-size: x-large !important;
    }
    .desc{
        font-size: calc(100% / 1.5) !important;
    }
}

@include responsive(XS){
    .big-price{
        font-size: x-large !important;
    }
    .desc{
        font-size: calc(100% / 1.5) !important;
    }
}