// main: ../_layout.scss

.air{
    padding: 2em 0;
}

.description{
    text-align: center;
    font-size: larger;
    padding: 3em 4em;
    font-family: $font-primary-light;
    letter-spacing: 1px;
}

.else-display{
    font-size: medium;
    letter-spacing: 3px;
    text-align: center;
    line-height: 2;
    padding: 2em;
    text-align: center;
    font-family: $font-primary-light;

    border: 2px dashed $color-primary-dark;
    border-radius: 15px;
    width: 60%;
    margin: auto;

    animation: bounceTop 2s ease 0s 1 normal forwards;
}


