// main: ../_layout.scss

.air{
    padding: 2em 0;
}

.description{
    text-align: center;
    font-size: larger;
    padding: 3em 4em;
    font-family: $font-primary-light;
    letter-spacing: 1px;
}

.else-display{
    font-size: larger;
    letter-spacing: 3px;
    text-align: center;
    line-height: 2;
    padding: 2em;
}


