// main: ../_layout.scss

.info{
    background: $color-dark;
    color: $color-grey;
    margin-bottom: 0;
}

.block{
    &-contact{
        .title{
            letter-spacing: 1px;
        }
    }
    &-horaire{
        margin-bottom: 2em;
    }

    &-logo{
        .logo{
            width: 14em;
            height: auto;
            @include filter-invert(0.5);
        }
    }
}

.block-contact, .block-horaire{
    margin-top: 3em;
    font-family: $font-primary-light;
}

.block-contact{
    @include align-items(start);
}
.block-logo, .block-horaire{
    @include align-items(center);
}

.block-contact, .block-logo, .block-horaire{
    @include flex;
    @include justify-content(center);
    @include flex-wrap(wrap);
}

//.contacting{
//    .title{
//        font-size: x-large;
//        font-family: $font-secondary;
//        font-weight: bold;
//        line-height: 2;
//    }
//    .location{
//        width: 150px;
//    }
//    p{
//        margin-bottom: 0;
//    }
//    .phone{
//        line-height: 3;
//        font-size: smaller;
//    }
//}

.today{
    color: $color-primary;
}

.social{
    &-list{
        @include flex;
        @include flex-wrap(nowrap);
        @include direction-row;
        margin-bottom: 0;
    }
    &-item{
        padding-right: .5em;
        &:first-child{
            //padding-right: 2px;
        }

        .icons{
            //font-size: large;
            &:hover{
                color: $color-primary-light;
            }
        }
    }
}

.info-foncer, .footer-foncer{
    background-color: darken($color-dark, 5%);
}


@include responsive(MD) {
    .block-contact {
        font-size: medium;
        .title{
            font-size: xx-large;
        }
    }
}

@include responsive(SM){
    .block{
        &-contact{
            font-size: medium;
            .title{
                font-size: xx-large;
            }
        }
        &-logo{
            margin-top: 2em;
            margin-bottom: 1em;
        }
        &-horaire{
            @include flex;
            @include justify-content(center);
        }
    }
}
@include responsive(XS){
    .block{
        &-contact{
            font-size: medium;
            .title{
                font-size: xx-large;
            }
        }
        &-logo{
            margin-top: 2em;
            margin-bottom: 1em;
        }
        &-horaire{
            @include flex;
            @include justify-content(center);
        }
    }
}