@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?0f5b86bc31e069f02d0efec29513f429") format("truetype"),
url("./flaticon.woff?0f5b86bc31e069f02d0efec29513f429") format("woff"),
url("./flaticon.woff2?0f5b86bc31e069f02d0efec29513f429") format("woff2"),
url("./flaticon.eot?0f5b86bc31e069f02d0efec29513f429#iefix") format("embedded-opentype"),
url("./flaticon.svg?0f5b86bc31e069f02d0efec29513f429#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before ,
i[class^="flaticon-"]:after, i[class*=" flaticon-"]:after {
    font-family: flaticon !important;
    font-style: normal;
    /* font-weight: normal !important; */
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-instagram:before {
    content: "\f101";
}
.flaticon-facebook:before {
    content: "\f102";
}
.flaticon-twitter:before {
    content: "\f103";
}
.flaticon-place-localizer:before {
    content: "\f104";
}
.flaticon-download:before {
    content: "\f105";
}
.flaticon-upload:before {
    content: "\f106";
}
.flaticon-cutlery:before {
    content: "\f107";
}
.flaticon-tray:before {
    content: "\f108";
}
.flaticon-salad:before {
    content: "\f109";
}
.flaticon-salad-1:before {
    content: "\f10a";
}
.flaticon-chili-pepper:before {
    content: "\f10b";
}
.flaticon-rice:before {
    content: "\f10c";
}
.flaticon-tempura:before {
    content: "\f10d";
}
.flaticon-spring-rolls:before {
    content: "\f10e";
}
.flaticon-rice-bowl:before {
    content: "\f10f";
}
.flaticon-momo:before {
    content: "\f110";
}
.flaticon-shrimp:before {
    content: "\f111";
}
.flaticon-noodles:before {
    content: "\f112";
}
.flaticon-sushi:before {
    content: "\f113";
}
.flaticon-sushi-1:before {
    content: "\f114";
}
.flaticon-moon:before {
    content: "\f115";
}
.flaticon-sun:before {
    content: "\f116";
}
.flaticon-castle:before {
    content: "\f117";
}
.flaticon-symbol:before {
    content: "\f118";
}
.flaticon-beans:before {
    content: "\f119";
}
.flaticon-noodle:before {
    content: "\f11a";
}
.flaticon-pagoda:before {
    content: "\f11b";
}
.flaticon-hot-pot:before {
    content: "\f11c";
}
.flaticon-bowl:before {
    content: "\f11d";
}
.flaticon-dimsum:before {
    content: "\f11e";
}
.flaticon-dimsum-1:before {
    content: "\f11f";
}
.flaticon-soup:before {
    content: "\f120";
}
.flaticon-shrimp-1:before {
    content: "\f121";
}
.flaticon-salad-2:before {
    content: "\f122";
}
.flaticon-fish:before {
    content: "\f123";
}
.flaticon-duck:before {
    content: "\f124";
}
.flaticon-pig:before {
    content: "\f125";
}
.flaticon-hen:before {
    content: "\f126";
}
.flaticon-sheep:before {
    content: "\f127";
}
.flaticon-cow:before {
    content: "\f128";
}
.flaticon-ewe:before {
    content: "\f129";
}
.flaticon-pig-1:before {
    content: "\f12a";
}
.flaticon-duck-1:before {
    content: "\f12b";
}
.flaticon-ox:before {
    content: "\f12c";
}
.flaticon-hen-1:before {
    content: "\f12d";
}
.flaticon-beef:before {
    content: "\f12e";
}
.flaticon-telephone:before {
    content: "\f12f";
}
.flaticon-envelope:before {
    content: "\f130";
}
